<hamburguer></hamburguer>

<nav>
  <ul>
    <li (click)="page = 'Home'">
      Home
    </li>
    <li (click)="page = 'Preços'">
      Preços
    </li>
    <li (click)="page = 'Informações'">
      Informações
    </li>
  </ul>
</nav>

<div [ngSwitch]="page">
  <h2 *ngSwitchCase="'Home'">Estou na página de Home</h2>
  <h2 *ngSwitchCase="'Preços'">Estou na página de Preços</h2>
  <h2 *ngSwitchCase="'Informações'">Estou na página de Informações</h2>
</div>

<div class="container grid">
  <card *ngFor="let card of cards" [propriedades]="card"/>
</div>

<div class="card" (click)="showModal = !showModal">
  <a>Open Modal</a>
</div>
  
<div class="modal" *ngIf="showModal">
<div class="modal__content">
  <h1>Example modal</h1>
  <form></form>
  <a class="modal__close" (click)="showModal = !showModal">×</a>
</div>
</div>