<div class="container">
    <div class="row">
        <div class="col-8 mx-auto mb-5 mt-5 text-center">
            <img src="../../assets/Private data-amico.png" class="img-fluid" id="img"/>
            <h3 class="text-dark">Sem Acesso</h3>
            <span class="text-dark mt-2">
                Para acessar essa página você precisa estar conectado!
            </span>
            <div class="mt-2">
                <button [routerLink]="['/login']" class="btn btn-dark m-auto">Voltar</button>
            </div>
        </div>
    </div>
</div>
    

