.card{
    background-color: #4a5a5a;
    color: white;
    position: relative;
}

.imagem{
    width: 100%;
}

.description{
    padding: 0.75rem 1rem;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    padding: 50px;
    margin-left: 180px;
   
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}