@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

body{
    background: radial-gradient(circle, rgba(245,240,237,1) 22%, rgba(212,198,189,1) 100%);
}

section{
    padding-top: 110px;
}

section h1{
    align-items: center;
    text-align: center;
    font-size: 32px;
}

.questao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 24px;
    margin-bottom: 8px;
    border: 1px solid #d4c6bd;
    border-radius: 8px;
}

.questao ol{
    padding: 25px;
}

.questao ol li{
    margin-left: 15px;
}

.resposta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 96px;
    border: 1px solid #d4c6bd;
    border-radius: 8px;
    padding: 25px;
}

.resposta h4{
    margin-bottom: 10px;
}

.resposta p{
    padding: 5px;
}